.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  margin: 50px;
}
.PolicyFormTable {
  width: auto;
  text-align: inherit;
  padding: 20px;
  border-spacing: 10px;
  align-items: center;
}
.ManagePolicy {
  display: flex;
  justify-content: center;
}
.Search {
  display: flex;
  justify-content: center;
}
.search-options {
  height: 50px;
  margin: 5px;
  padding: 5px;
}
.PolicyDetails,
.PolicyTable {
  justify-content: center;
  margin: 20px 10px 20px;
}
.PolicyDetails {
  max-height: 600px;
  overflow: scroll;
}
.Navigate {
  display: flex;
  justify-content: space-around;
}
#Previous,
#Next {
  min-height: 40px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
